[Desktop Entry]
Name=Ada Loves Lace
GenericName=Ada Loves Lace
Comment=${info.description}
Exec=/opt/${info.name}/${info.name} %U
Icon=/opt/${info.name}/${info.name}.png
Terminal=false
Type=Application
Categories=Education;GTK;
StartupNotify=true
#if ($info.isThereFileAssociations())
MimeType=${info.getMimeTypesListAsString(";")}
#end
